body {
  background-color: #444444;
  color: white
}
  
.headerContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px
}

.routeContent {
  display:flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}